
<div class="aboutMePanel" id="about">
<article>
  <section>
    <h1> About Me</h1>
  </section>
<section>
  <h5>Hi! My name is Porscha and I worked hard to transition into the tech industry. Learning to code has been the most challenging endeavor I have ever achieved. The lessons along the way have made me a more confident speaker, person and more importantly engineer.<br>My passion for the intersection of business, design, and development is what propels my customer-centered decisions and the
  desire to utilize my well-honed communications skills to collaborate with teams and develop innovative solutions.My desire is to deepen my knowledge of product management tools and methodologies, UX design and web development while working
  within diverse and mission-driven teams.<br> My strengths include a process-oriented style of learning, a methodical approach
  to solving problems, and perseverance in fostering goal-oriented collaboration.<br>I have experience in full stack web development (MEAN stack), software support, AHA, Agile, Jira, Confluence, Scrum, Test-Driven
  Development and SQL. I am an accomplished Toastmaster, Sr. Programming Tutor, avid traveler, lover of music festivals and can be spotted trying new vegan restaurants around Atlanta.</h5>

  <img class = aboutMeImage [src]="aboutImgSrc">
</section>
</article>

</div>


