

<section class="headerPanel" id="appHeader">

  <!-- *****************************************HEADER LOGO PANEL********************************************* -->
    
  <nav class="clickable homeIconPanel">
    <span class="logoContainer" (click)="home()">
      <b class="nameSrc">PORSCHA <b><img class="logoImage" [src]="logoSrc" ></b> JOHNSON</b>
    </span>
    <div class="clickable headerItem about" (click)="navigateToHeaderSection(headerItems.about.url)" ><b>{{ headerItems.about.headerText }}</b></div>
    <div class="clickable headerItem portfolio" (click)="navigateToHeaderSection(headerItems.portfolio.url)"><b>{{ headerItems.portfolio.headerText }}</b></div>
    <div class="clickable headerItem contact" (click)="navigateToHeaderSection(headerItems.contact.url)"><b>{{ headerItems.contact.headerText }}</b></div>
  </nav>
  <!-- ******bootstrap**** -->
</section>

