.mainBodyLayout {
    background: url(/assets/images/Portfolio-Main-Image.jpg)no-repeat center center fixed;
    height: 42em;
    overflow: hidden;
    background-size: cover;
    max-width: 100%;
    display: block;
}